<%- include('./partials/boilerplate') %>
<link href="/css/index.css" rel="stylesheet" type="text/css">

	<body background="https://static6.depositphotos.com/1062918/669/v/600/depositphotos_6690819-stock-illustration-halloween-background.jpg">
	<h1>Costume Clout</h1>
	<% for (let i = 0; i < costumes.length; i++) { %>
		<a href="/costumes/<%=costumes[i].id%>">
			<p><%= costumes[i].costumeName%></p>
	<% } %>
		<br><br>
		<form action="/users/signup">
			<input type="submit" value="Sign Up to add your creation!" />
		</form>
		<form action="/users/login">
			<input type="submit" value="Log In." />
		</form>
</body>
</html>