<%- include('./partials/boilerplate') %>
    <body>
        <h1>Show the world your creation!</h1>

        <form action='/costumes' method="POST">
            <label for="name"> Name:</label>
            <input type="text" name="costumeName" />
        <br>
        <br>
            <label for="name"> Image:</label>
            <input type="text" name="img"/>
        <br>
        <br>
            <label for="name"> Description:</label>
            <input type="text" name='description'/>
        <br>
        <br>
        <select name= "userId">
            <% for (let i=0; i < users.length; i++) { %>
                <option value = "<%= users[i].id %>"> <%=users[i].name%> 
                <% } %>
            </select>

            <input type="submit" name="" value="Here goes nothing!"/>
        </form>
            
    </body>
</html>