<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Halloween Fun!</h1>
        <h2> <%= costume.name %> </h2>
        <br>
        <img src=<%= costume.img%> alt="Costume" /> 
        <p> <%= costume.description %> </p>
    </body>
</html> 