<%- include('../partials/boilerplate') %>
<body>

<h1>Log In Costumier!</h1>

<form class= "left" action ="/users/login" method ="POST">
    <label for="username"> Username:</label>
                <br>
        <input class="black"type="text" name="username">
                <br>
    <label for="password"> Password:</label>
                <br>
        <input class="gray"type="password" name="password"> 
                <br>
        <input class="orange" type="submit" name= "" value="Log In!">
</form>
<section>
        <img class="main" src= https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/film-the-purge-election-year-image-courtesy-of-hdq-walls-1569350670.jpg alt="Purge">
    </section>

</body>
</html>