<%- include('../partials/boilerplate') %>
<body>
    <h1> Sign Up to add your creation.</h1>
    
    <form class= "left" action ="/users" method ="POST">
        <label for="name"> Name:</label>
                <br>
            <input class="gray" type="text" name="name">
                <br>
        <label for="username"> Username:</label>
                <br>
            <input class="orange" type="text" name="username">
                <br>
        <label for="password"> Password:</label>
                <br>
            <input class="black" type="password" name="password"> 
                <br>
            <input class="gray" type="submit" name= "" value="Sign Up!">
    </form>
    <section>
        <img class="main" src= https://www.collater.al/wp-content/uploads/2018/10/Halloween-Collater.al-9c.jpg alt="Friends">
    </section>
</body>
</html>