<%- include('../partials/boilerplate') %>
<body>
    <h1> Sign Up!</h1>
    <form action ="/users" method ="POST">
        <label for="name"> Name:</label>
        <input type="text" name="name">
        <br><br>
        <label for="username"> Username:</label>
        <input type="text" name="username">
        <br><br>
        <label for="password"> Password:</label>
        <input type="password" name="password"> 
        <br><br>
        <input type="submit" name= "" value="Sign Up!">
    </form>
</body>
</html>